@import "~bootstrap/scss/bootstrap.scss";

html, body{
    min-height: 100vh;
}

.commingsoon{
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    .container, .content{
        height: 100vh;
    }
    
    .content{
        &>*{
            width: 100%
        }
        .slogan{
            font-size: 3rem;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
        }
        
        .logo{
         img{
            display: block;
            margin: auto;
            max-width: 300px;
         }
        }
        
        .launching-text{
            color: #fff;
            font-size: 1.5rem;
            text-align: center;
        }
    }
    
}
